/*Scrollbar styling*/
::-webkit-scrollbar {
    width: 15px;
}
 
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);   
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);     
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.underlineHeader {
  border-bottom: solid 4px mediumpurple;
  text-align: center;
  display: inline-block !important;
}

.center {
    text-align: center;
    justify-content: center !important;
    align-items: center !important;
}